
body{
    background: red;
    color: blue;
}section{ 
    background-color: blueviolet;
    padding-top: 60px;
    padding: bottom 60px;
    display: flex;
    justify-content: center;}
    header{ 
        margin:5%;
        pont
text-align: ;
color: azure;}
